<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Playlist Maker - About</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/single-note-music.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap" rel="stylesheet">
</head>

<body>
  <nav><img id="logo" src="/assets/img/single-note-music.png" alt="pixel logo" /></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
    <div class="navlink-about"><a href="/about">About</a></div>
    <div class="navlink-songs"><a href="/viewSongs">View Added Songs</a></div>
  </nav>
  <section id="content-info">
      <h1><u>Welcome to the Community Playlist</u></h1>
      <h3>First time here? <i><a href="/signup">Sign up</a></i>. Already have an account? Login here: 
        <i><a href="/login">Login</a></i>. Here you can add songs for others to see. If you click <a href="/viewSongs">
        View Added Songs</a>, you can see added songs by all users. Once you login, you have the option to add a song, 
        view all other user songs, view your added songs, or change your password. Come join so others can view your 
        added songs! Have fun! </h3>
  </section
  {{!-- <script src="/assets/userBundle.js"></script> --}}
</body>

</html>